* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}


.btn-dark {
    display: grid;
    grid-area: 3/3/4/4;
}

.btn-outline-dark {
    display: grid;
    grid-area: 2/2/2/3;
}